 <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.js"></script>
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.css">

  <style>
        .wrapper {
            text-align: center;
        }

        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }

        .button {
            position: absolute;
        }

        .button1 {
            position: absolute;
        }
    </style>

   <div class="container" ng-init="datosProveedor()">
    <div class="row">
      <div class="col-lg-4">
          <input type="text" class='field' value='' placeholder='Nombre' name='txtnombre1' ng-model="nombre" required />
          <br><br>
      </div>
      <button type="button" ng-click="actualizaProveedor()">
            Actualizar
      </button>
    </div>
  </div>